*{
  margin: 0;
  padding: 0;
  
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body{
  background: rgb(95,195,228);
  background: linear-gradient(283deg, rgba(95,195,228,1) 31%, rgba(229, 93, 136, 0.475) 100%);

  padding: 2%;
  font-family: 'Montserrat', sans-serif;
  --gray-color: #e4e2e2;
}

.App {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.32); 
  padding: 2%;
}


.card{
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 3%;
  border: 0;
  padding-left: 10%;
  cursor: pointer;
  transition: 0.2s ease;
}
.card:hover{
  transform: scale(1.1);
}
.card-img{
  font-size: 35px;
}
.card-name{
  text-transform: uppercase;
  font-size: 20px;
  color: #2f3452;
  margin-top: 2px;
}
.card >ul{
  padding-left: 0;
  margin: 0;
  list-style: none;
  margin-top: 4px;
}
.card >ul> li{
  text-transform: capitalize;
  font-size: 15px;
  padding-bottom: 5px;
  color: #000;
  opacity: .8;
}

.carousel-indicators{
  z-index: 99;
  bottom: -20px;
}
.modal{
  padding-left: 0;
}
.modal-dialog{
  max-width: 90%;
  min-height: 70%;
  margin: auto;
  margin-top: 10%;
}
.modal::-webkit-scrollbar{
  display: none;
}
.modal-content{
  border: 0;
}
.modal-img{
  margin-left: 10px;
  font-size: 28px;
}
.card-detail h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 20px;
}
.card-detail .col-6:first-child{
  border-right: 2px solid #000;
}
.card-detail .left{
}
.carousel-control-prev, .carousel-control-next{
  opacity: 0;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
  opacity: 0;
}
@media screen and (max-width: 767.98px) {
  .left, .right{
    font-size: 13px;
  }
}
